.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-to-action__button{
    width: 9.375rem;
    height: 2.625rem;
    background-color: var(--vermelho);
    color: var(--branco);
    border: none;
    border-radius: 0.375rem;
    font-size: 1.3125rem;
}
.call-to-action__button:hover{
    background-color: var(--vermelho-claro);
}