.cabecalho{
   
    background-color: var(--cinza);
    border-bottom: 0.25rem solid var(--vermelho);
    
    display: flex;
    justify-content: center;
    
    height: 6.375rem;
      
}
.cabecalho__logo{

    width: 9.125rem;

}
@media screen and (min-width: 1024px){
    .cabecalho{

        padding-left: 20%;
        
        justify-content: left;
        
    }
}